{% extends "base_user.html" %}

{% block title %}Books{% endblock %}

{% block content %}
<section>
    <h2>Books</h2>

    <!-- Search form -->
    <form method="get" action="{% url 'show_books' %}">
        <label for="search">Search:</label>
        <input type="text" id="search" name="q" placeholder="Search by name or author" value="{{ request.GET.q }}">
        <button type="submit">Search</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Book Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.book_name }}</td>
                <td>{{ book.author_name }}</td>
                <td>{{ book.inventory.total_books }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No books found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html' %}

</section>
{% endblock %}
