{% extends base_template %}

{% block content %}
<section>
    <h2>Books Page</h2>

    <!-- Display messages -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Admin-specific content -->
    {% if is_admin %}
    <h3>Manage Books</h3>
    <form method="post" action="{% url 'add_book' %}">
        {% csrf_token %}
        <label for="bookname">Book Name:</label>
        <input type="text" id="bookname" name="book_name" placeholder="Book Name" required>

        <label for="authorname">Author Name:</label>
        <input type="text" id="authorname" name="author_name" placeholder="Author Name" required>

        <label for="quantity">Book Quantity:</label>
        <input type="number" id="quantity" name="book_quantity" placeholder="Quantity" required min="0">

        <button type="submit" id="addbook">Add Book</button>
    </form>
    {% endif %}

    <!-- Common content for both users and admin -->
    <table>
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Book Quantity</th>
                {% if is_admin %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.book_name }}</td>
                <td>{{ book.author_name }}</td>
                <td>{{ book.inventory.total_books }}</td>
                {% if is_admin %}
                <td>
                    <form method="post" action="{% url 'delete_book' book.book_id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                    <form method="get" action="{% url 'edit_book' book.book_id %}" style="display:inline;">
                        <button type="submit">Edit</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% empty %}
            <tr>
                <td colspan="{% if is_admin %}5{% else %}4{% endif %}">No books found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html' %}
</section>
{% endblock %}
