{% load static %}
<html>
<head>
    <title>{% if is_signup %}Signup{% else %}Signin{% endif %}</title>
    <link rel="stylesheet" href="{% static 'signup_signin.css' %}">
</head>
<body>
    <div class="container">
        <h2>{% if is_signup %}Signup{% else %}Signin{% endif %}</h2>
        <form method="post" action="{% if is_signup %}{% url 'signup' %}{% else %}{% url 'signin' %}{% endif %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_p }}
            </div>
            <button type="submit">{% if is_signup %}Signup{% else %}Signin{% endif %}</button>
            <br>
            <a href="{% if is_signup %}{% url 'signin' %}{% else %}{% url 'signup' %}{% endif %}" class="btn-link">
                {% if is_signup %}Signin{% else %}Signup{% endif %}
            </a>
        </form>

            {% if form.non_field_errors %}
                <div style="color: red;">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
    </div>
</body>
</html>
