{% extends "basic.html" %}

{% block content %}
<head>
    <title>Manage Users</title>
</head>
<section>
    <h2>Manage Users</h2>

    <h3>Add New User</h3>
    <form method="post" action="{% url 'add_user' %}" style="display:inline;">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" value="{{ form.username.value }}" required>
            {% if form.username.errors %}
                <div class="error">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="{{ form.email.value }}" required>
            {% if form.email.errors %}
                <div class="error">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <div>
            <label for="phone_number">Phone number:</label>
            <input type="text" name="phone_number" id="phone_number" value="{{ form.phone_number.value }}" required pattern="\d{11}" title="Phone number must be exactly 11 digits">
            {% if form.phone_number.errors %}
                <div class="error">{{ form.phone_number.errors }}</div>
            {% endif %}
        </div>

        <button type="submit">Add User</button>
    </form>

    <h2>Manage Users</h2>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           {% for user in users %}
                <tr>
                    <td>{{ user.user_id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        <form method="post" action="{% url 'delete_user' user.user_id %}">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                        <form method="get" action="{% url 'edit_user' user.user_id %}" style="display:inline;">
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
           {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
